---
import StyleConstants from "./styleconstants.astro"

interface Props {
    title: string
    backgroundColor?: string
    foregroundColor?: string
}

const { title, backgroundColor } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"content="Ryubing/Ryujinx is a fork of the discontinued Switch emulator witten in C#!"/>
        <meta name="keywords" content="Ryujinx, switch emulator, fork, emulator, switch, ryubing, ldn, open-source"/>
        <meta name="author" content="Ryujinx" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <StyleConstants />
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global define:vars={{ backgroundColor }}>
    body {
        max-width: 100vw;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        background-color: #090b11;
        color: var(--foreground-color, white);
        font-family: var(--typeface-primary);
        font-optical-sizing: auto;
    }

    code {
        font-size: 1.25em;
    }

    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }
</style>