---
import StyleConstants from "./styleconstants.astro"

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"content="Ryubing/Ryujinx is a fork of the discontinued Nintendo Switch emulator, written in C#. It offers excellent accuracy, high performance, a user-friendly interface, and consistent builds."/>
        <meta name="keywords" content="Ryujinx, switch emulator, fork, emulator, switch, ryubing, ldn, open-source"/>
        <meta name="author" content="Ryujinx" />
        <meta name="viewport" content="width=device-width initial-scale=1.0" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
        <meta name="generator" content={Astro.generator} />
        <title>Ryujinx - Nintendo Switch Emulator</title>
        <StyleConstants />
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    body {
        max-width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        background-color: #090b11;
        color: var(--foreground-color, white);
        font-family: var(--typeface-primary);
        font-optical-sizing: auto;
    }

    code {
        font-size: 1.25em;
    }

    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }
</style>