---

---

<a href="/download">Download</a>
<a href="/donate">Donate</a>
<a href="https://ryuldnweb.vudjun.com/">LDN</a>
<a href="https://git.ryujinx.app/ryubing/ryujinx/-/wikis/home">Wiki</a>
<a href="https://git.ryujinx.app/ryubing/ryujinx/-/wikis/FAQ-&-Troubleshooting">FAQ</a>