---

---

<a href="/download">Download</a>
<a href="/donate">Donate</a>
<a href="https://ryuldnweb.vudjun.com/">Ldn</a>
<a href="https://github.com/Ryubing/Ryujinx/wiki">Wiki</a>
<a href="https://github.com/Ryubing/Ryujinx/wiki/FAQ-and-Troubleshooting">FAQ</a>