@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
    --tw-bg-opacity: 1;
    background-color: linear-gradient(180deg, #000000D9 40%, var( #000307 ) 100%);
}

.pattern-dots-sm {
    background-image: radial-gradient(currentColor 0.5px, transparent 0.5px);
    background-size: calc(10 * 0.5px) calc(10 * 0.5px)
}

.pattern-dots-md {
    background-image: radial-gradient(currentColor 1px, transparent 1px);
    background-size: calc(10 * 1px) calc(10 * 1px);
}

.pattern-dots-lg {
    background-image: radial-gradient(currentColor 1.5px, transparent 1.5px);
    background-size: calc(10 * 1.5px) calc(10 * 1.5px);
}

.pattern-dots-xl {
    background-image: radial-gradient(currentColor 2px, transparent 2px);
    background-size: calc(10 * 2px) calc(10 * 2px);
}